.jumbotron{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: auto;
}

#high-score-link{
    margin: 5px;
}

.timer{
    margin: 5px;
}

.answers{
    width: 100%;
    margin-top: 3%;
}

.answer-choice{
    width: 50%;
    margin-left: 10%;
    margin-bottom: 4%;
}

.feedback{
    color: teal;
}

.players{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.submit{
    margin-top: 3%;
}

.title{
    color: blue;
}